html, body {
    margin: 0;
    height: 100%;
}

#content {
    padding: 10% 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item {
    margin: 10px 0;
}